<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="connPROD" connectionString="workstation id=Maquinaria.mssql.somee.com;packet size=4096;user id=msalvarado_SQLLogin_1;pwd=wfp17mu6x1;data source=Maquinaria.mssql.somee.com;persist security info=False;initial catalog=Maquinaria;"/>
    <add name="connDEV" connectionString="workstation id=quantus.mssql.somee.com;packet size=4096;user id=dba_quantus_SQLLogin_1;pwd=5w4b1z6ptc;data source=quantus.mssql.somee.com;persist security info=False;initial catalog=quantus"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
